:root {
--color-IRIS: #4D5AE5;
--color-OCEAN:#404BBF;
--color-Navy blue:#2E2F42;
--color-GREEN:#31D0AA;
--color-SLATE:#434455;
--color-LIGHT SLATE:#8E8F99;
--color-CORNFLOWER:#E7E9FC;
--color-CLOUD:#F4F4FD;
--color-NAVY-BLUE-Modal:#2E2F42;
--color-GREY:#2E2F42;
--color-WHITE:#FFFFFF;
--color-Dairy:#FCFCFC;
--background-color:#FFFFFF;
--font-primary: "Roboto", sans-serif;
--font-secondary: "Raleway", sans-serif;
}

.service {
  background-color: #2e2f42;
}

.service button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 24px;
  background-color: #4d5ae5;
  color: #ffffff;
}

.service button:hover,
.service button:focus {
  background-color: #404bbf;
}

.navigation-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-decoration: none;
  color: #2e2f42;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.contact-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-decoration: none;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 21px;
  color: #4d5ae5;

  text-decoration: none;
}
.logo2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 21px;
  color: #2e2f42;

  text-decoration: none;
}

.logo3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 21px;
  color: #ffffff;

  text-decoration: none;
}
.logo-secondpart {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 21px;
  color: #2e2f42;
  background-color: #e7e9fc;
  text-decoration: none;
}

ul {
  list-style-type: none;
  
  margin: 0;
}

.service-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  color: #fff;
  line-height: 60px;
  
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

head {
  color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  background-color: var(--background-color);
}

body-small {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}

body-medium {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

footer {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: #2f2f42;
  background-color: #2e2f42;
}

address {
  font-style: normal;
}
