.service button {
  font-family: Roboto;
  font-weight: medium;
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 24px;
  color: #4d5ae5;
}

.service button:hover,
.service button:focus {
  background-color: #e7e9fc;
}

.link {
  font-family: Roboto;
  font-weight: regular;
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 16px;
  text-decoration: none;
}
.link:hover,
.link:focus {
  background-color: #404bbf;
}

.text {
  font-family: Roboto;
  font-weight: medium;
  color: #434455;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3%;
  line-height: 21px;
  color: #4d5ae5;
  background-color: #e7e9fc;
  text-decoration: none;
}
.logo-secondpart {
  font-family: Raleway;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3%;
  line-height: 21px;
  color: #2e2f42;
  background-color: #e7e9fc;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  color: white;
  line-height: 60px;
  background-color: #2e2f42;
  text-align: center;
}

h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  color: #2e2f42;
  text-align: center;
}

h3 {
  font-family: Roboto;
  font-weight: medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
  text-align: center;
}

head {
  color: #2e2f42;
}

body {
  font-family: Roboto;
  font-weight: regular;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 24px;
  color: #434455;
  text-align: center;
}

body-small {
  font-family: Roboto;
  font-weight: regular;
  size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}

body-medium {
  font-family: Roboto;
  font-weight: medium;
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

footer {
  font-family: Roboto;
  font-weight: regular;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 24px;
  color: #2f2f42;
  background-color: #2e2f42;
}
